
*{
    box-sizing: border-box;
}

.main{
    margin: 0 auto;
    height: 600px;
    width: 600px;
    border: 1px solid;
}

.logo{
    background-color: rgb(71, 71, 71);
    width: 180px;
    height: 50px;
    margin: 10px 0px 10px 10px;
    display: inline-block;
}

.nav{
    background-color: gray;
    width: 394px;
    height: 50px;
    margin: 10px 10px 10px 0px;
    display: inline-block;
}

.col1{
    display: inline-block;
    margin: 10px 0px 10px 10px;
    background-color: lightgray;
    width: 40%;
    height: 500px;

}

.col2{
    display: inline-block;
    margin: 10px 0px 10px 10px;
    background-color: lightgray;
    width: 40%;
    height: 500px;

}

.side{
    display: inline-block;
    margin: 10px 0px;
    background-color: rgb(68, 68, 68);
    width: 14%;
    height: 500px;

}